@tailwind base;

.container-inner {
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 640px) {
  .container-inner {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container-inner {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container-inner {
    max-width: 800px;
  }
}

@tailwind components;

@tailwind utilities;
